<% content_for :title, "About" %>
<h1>About</h1>

<p>
  Santa Barbara Cuervos Football Club is an amateur soccer team created by Joshua
  Noeggerath with the objective of providing a fun soccer experience for children. While
  the kids are doing physical activities, they also learn how to work together as a team
  to achieve a common goal.
</p>

<p>
  SB Cuervos FC englobes 5 different rosters of children from Under 7 years old
  up to 11 years old, as well as an adults team.
</p>

<p>
  This <a href='/'>web application</a> was created to share the news about
  the amateur soccer team SB Cuervos FC and a tool for the communication between
  coaches and players.
  Here, parents and children can follow the news of SB Cuervos FC and the coaches
  can communicate to all the different rosters easily. The application provides
  a way for coaches to instant message all players of a roster for any immediate
  communication.
</p>

<p>
  For more information about the tournaments that SB Cuervos FC adult roster is
  involved please check the <a href="http://santabarbaraccsl.com/">Santa Barbara
  CCSL website</a>.
  We will have more information about the children rosters tournaments soon.
</p>


Other links for the adult category:
<ul>
  <li><a href="http://santabarbaraccsl.com/standings-2/">Winter Division Standings</a></li>
  <li><a href="http://santabarbaraccsl.com/team/sb-cuervos-fc/">SB Cuervos FC</a> Profile</li>
</ul>