<% content_for :title, "About" %>
<h1>About</h1>

<p>
  <a href='/'>SB Cuervos</a> is a web application created to share the news about
  the amateur soccer team SB Cuervos FC and a tool for the communication between
  coaches and players.
</p>

<p>
  While the base of the application is ready, there are still more functionalities
  to be developed, such as: showing the different team rosters (under 7, 8, 9, 10 and
  adult categories), and sending phone messages to the players for a more immediate
  communication.
</p>

<p>
  For more information about the tournaments that SB Cuervos is involved please
  check the <a href="http://santabarbaraccsl.com/">Santa Barbara CCSL website</a>
</p>

<ul>
  Other links for the adult category:
  <li><a href="http://santabarbaraccsl.com/standings-2/">Winter Division Standings</a></li>
  <li><a href="http://santabarbaraccsl.com/team/sb-cuervos-fc/">SB Cuervos FC</a> Profile</li>
</ul>