<% content_for :title, "Contact" %>
<h1>Contact</h1>

<p>
  Send an email to ndornelasj@gmail.com if you need to contact me.
</p>
OR
<p>
  Contact the Ruby on Rails Tutorial about the sample app at the
  <a href="http://www.railstutorial.org/contact">contact page</a>.
</p>