<% content_for :title, "Help" %>
<h1>Help</h1>

<p>
  If you need to contact <em>Nelson Dornelas</em>, author of the app, send an email to:
  please use the contact form on the bottom right of the website.
</p>

<p>
  To get help on the Ruby on Rails tutorial at the
  <a href="http://www.railstutorial.org/help">Rails Tutorial help page</a>.
   To get help on this sample app, see the
  <a href="http://www.railstutorial.org/book"><em>Ruby on Rails Tutorial</em>
  book</a>.
</p>

