<% content_for :title, "Home" %>
<h1>Foot Quinta</h1>

<p>
  This is the home page for the Foot_Quinta app.
</p>

<p>
  It uses some of the chapters from the
  <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
  by Michael Hartl
</p>
