<% content_for :title, "Home" %>
<div class="center jumbotron mid_area">
  <%= image_tag('sbcuervos_logo.png', height: 200, width: 200) %>


  <h2>
    This is the home page for the SB Cuervos FC Website.
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>

</div>